<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Insertar/Actualizar Comunidad Autónoma')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <!-- Usamos la clave msg.region-form.add o msg.region-form.edit dependiendo de si es agregar o editar -->
    <h1 th:text="#{msg.region-form.edit}"></h1>


    <!-- Mostrar un mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="@{/supermarkets/update}" th:object="${supermarket}" method="post" class="mt-4">
        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" th:field="*{id}" id="id" class="form-control" readonly/> <!-- o editable -->
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>

    <!-- Usamos la clave msg.region-form.returnback para el botón de volver a la lista -->
    <a href="#" th:href="@{/regions}" class="btn btn-secondary mt-3" th:text="#{msg.region-form.returnback}"></a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
