<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Insert/Update Supermarket')"></head>
<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <!-- Usamos la clave msg.supermarket-form.add o msg.supermarket-form.edit dependiendo de si es agregar o editar -->
    <h1 th:text="${supermarket.id != null ? '#{msg.supermarket-form.edit}' : '#{msg.supermarket-form.add}'}"></h1>

    <!-- Mostrar un mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="${supermarket.id != null ? '@{/supermarkets/update}' : '@{/supermarkets/create}'}" th:object="${supermarket}" method="post" class="mt-4">
        <div class="mb-3">
            <!-- Usamos la clave msg.supermarket-form.id para el campo ID -->
            <label for="id" class="form-label" th:text="#{msg.supermarket-form.id}"></label>
            <input type="text" th:field="*{id}" id="id" class="form-control" required />
            <div th:if="${#fields.hasErrors('id')}" class="text-danger" th:errors="*{id}"></div>
        </div>

        <div class="mb-3">
            <!-- Usamos la clave msg.supermarket-form.name para el campo Nombre -->
            <label for="name" class="form-label" th:text="#{msg.supermarket-form.name}"></label>
            <input type="text" th:field="*{name}" id="name" class="form-control" required />
            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
        </div>

        <!-- Usamos la clave msg.supermarket-form.create o msg.supermarket-form.update dependiendo de si es agregar o editar -->
        <button type="submit" class="btn btn-primary" th:text="#{msg.supermarket.update}"></button>
    </form>

    <!-- Usamos la clave msg.supermarket-form.returnback para el botón de volver a la lista -->
    <a th:href="@{/supermarkets}" class="btn btn-secondary mt-3" th:text="#{msg.supermarket-form.returnback}"></a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
